/*STARTER CSS*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

img,
embed,
object,
video {
    max-width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
    font-family: 'Source Sans Pro', sans-serif;
}

strong {
    font-weight: 600;
}

nav a,
button {
    min-width: 48px;
    min-height: 48px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*START OF THE SPECIFIC CSS*/

:root {
    --cuatrovientos-yellow: #ede794;
    --cuatrovientos-blue: #64dce2;
    --cuatrovientos-grey: #4a4a4a;
    --cuatrovientos-brown: #4f4112;
    
    --light-grey:#eaeaea;
    --light-medium-grey:#bebebe;
    --light-grey-bg:rgba(234, 234, 234, 0.7);
    --medium-grey: #585858;
    --dark-grey: #292929;
    --gradient-nav-start: #9b00af;
    --gradient-nav-end: #39007c;
}

body {
    background: #fff;
    color: var(--dark-grey);
    height: 100%;
    min-height: 100vh;
    max-width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
    width: 100%;
    height: 100%;
    background: var(--light-grey-bg);
    order: 15;
    padding-top: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.line-to-bottom{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

nav a {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--dark-grey);
}

nav svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: url(#gradient-nav);
}

#gradient-nav stop.start-color {
  stop-color: var(--gradient-nav-start);
}

#gradient-nav stop.end-color {
  stop-color: var(--gradient-nav-end);
}

nav a p{
    margin: 5px 0;
}

#mobile-topbar-nav {
    height: 40px;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#parent-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 1rem;
    color: var(--gradient-nav-end);
    text-decoration: none;
}

#mobile-topbar-nav svg {
    width: 2rem;
    height: 2rem;
    fill: none;
	stroke: var(--gradient-nav-end);
    stroke-width:1px;
    margin-right: 0px;
    transform: translateX(30%);
    transition: all 0.1s ease-in-out;
}

#mobile-topbar-nav:active svg {
    transform: translateX(0);
}

#bookmark-star {
    display: none;
}

main {
    max-width: 80%;
    margin: 30px auto 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: calc( 100vh - 150px);
}

header h1 {
    text-transform: uppercase;
    color: var(--dark-grey);
    letter-spacing: 0.08em;
    text-align: center;
    line-height: 1em;
}

header img.logo {
    width: 25vw;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input[type=text],
textarea {
    border: 1px solid var(--light-grey);
    transition: border 0.1s ease-in-out;
    padding: 5px;
    min-width: 100%;
}
input[type=text]:focus,
textarea:focus {
    border: 1px solid var(--dark-grey);
}

/*MENU*/

.menu-icon-grid {
    margin-top: 20px;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-icon-grid a {
    text-align: center;
    padding: 10px 20px;
    border: 1px solid var(--gradient-nav-end);
    color: var(--dark-grey);
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
}

.menu-icon-grid svg {
    margin: 0px 10px 10px;
    width: 1.4rem;
}

.menu-icon-grid .line2,
.menu-icon-grid .line3 {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

/*METTING-ROOMS*/

.icon-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 80px;
    font-size: 0.7em;
    text-align: center;
}

.item-desciption {
    margin-left: 1rem;
}

.item-desciption:first-child {
    margin-left: 0;
}

.item-desciption svg {
    width: 3rem;
}

.button-reservo-mail {
    margin-top: 100px;
}

.button-reservo-mail a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--light-medium-grey);
    padding: 6px 30px;
    background: #b21381;
    border-radius: 5em;
    text-align: center;
    box-shadow: 2px 2px 10px var(--light-medium-grey);
}

@media screen and (min-width:700px) {
    #mobile-topbar-nav {
        display: none;
    }
    nav {
        order: 0;
    }
    
}

 @media screen and (max-width:699px){
    nav {
        position: fixed;
        height: 60px;
        bottom: 0;
    }
    
}

/*
TODO: correct display in the page. Container not the container anymore.
Main get ths flex space around. Nav is fixed doan, and top-bar isfirst up. And main takes all it can (min 100vh - (top-bar + nav bar) ) and need.*/
